In [2]:
print(2+2)

4

# Lesson 1 Data types

In [5]:
age = 40
Name = 'Akbar'
weight= 71.6
passed = True

print(age,type(age))
print (Name,type(Name))
print (weight,type(weight))
print (passed,type(passed))

40 <class 'int'>
Akbar <class 'str'>
71.6 <class 'float'>
True <class 'bool'>

In [13]:
print(age**weight)

5.099121720515953e+114

In [21]:
print(age*weight)
print(age-weight+age)

2864.0
8.400000000000006

In [19]:
a1=20.45
a2=20
a3=40.5
a4=43

avg=(a1+a2+a3+a4)/4

print (avg)

30.9875

In [53]:
#floor div

typeOne = int(weight//age)

print(typeOne)
print(type(typeOne))

1
<class 'int'>

In [38]:
print(2//2)
typeTwo = 2.5//2.4
print(type(typeTwo))

1
<class 'float'>

In [58]:
#rounded
Math =26 
english= 76.4
total= round(Math/english, 3)
print(total)

0.34

In [59]:
print(type(Math))
print(type(english))

<class 'int'>
<class 'float'>

In [60]:
print(type(passed))

<class 'bool'>

In [80]:
#F to C AND C TO F
f = 42
c= 5.56
convert_c= round((f-32)/1.8, 2)
convert_f= round((c*1.8)+32, 1)
print(convert_c)
print(convert_f)

5.56
42.0

In [94]:
#MILES TO KM and km to miles

m= 57
k =110
convert_km = round(m*1.6)
convert_m = (k//1.6)
print(convert_m)
print(convert_km)

68.0
91

In [99]:
#pound to kg and kg to pound

p= 160
g=86

convert_p= round(160*0.454,2)
convert_g= round(86/0.454, 1)
print(convert_p)
print(convert_g)

72.64
189.4

In [112]:
#gallons to litres and litre to gallon

G= 28
l= 48
convert_l= int(g*3.78541)
convert_g= round(48/3.78541, 2)
print(convert_l)
print(convert_g)

325
12.68

In [118]:
#CALC SIMPLE INTEREST
p = 110
r= 0.5
i= 5

SI= round(p*r*i/100)


print(SI)

3

In [144]:
#calculating FORCE

import math
m = 25.66
a= 38.89
s= 110.67

f= math.ceil(m*a)
r=math.floor(m*a)
d= (f/110.67)
q= (f/110.67)
print (type(q))
print (int(d))
print(r)
print(f)

<class 'float'>
9
997
998

**above codes are to learn Data Types**
# title

i am doing this to increase my knowledge

In [163]:
x= 29.87
y=8.53
n= 10
r=0.06

a= round((x*((1+(r/n))**(n*y))),2)

print(a)

49.76

## **the above code is calculating compound interest**